<div class="title">DỰ ÁN</div>
<div class="content">
    <div class="content__info">
        <div class="content__item">
            <img src="https://img.icons8.com/office/30/000000/new-job.png"/>
            <label for="">Dự án:</label>
            <span>Dự án không làm gì</span>
        </div>
        <div class="content__item">
            <img src="https://img.icons8.com/office/30/000000/documents.png"/>
            <label for="">Thông tin dự án</label>
        </div>
        <div class="content__item">
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem earum quaerat pariatur aspernatur quod accusamus, consequatur ab fugit tenetur saepe incidunt, necessitatibus, ipsum nobis modi harum animi quasi non dignissimos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aperiam hic repellat eaque architecto maxime sint asperiores obcaecati unde libero. Animi quod ad ipsa iusto totam aspernatur commodi architecto praesentium!</span>
        </div>
</div>
</div>
